<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<div>
  <h3>User reviews</h3>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
      </li>
      <li>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', restaurants_path %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
